/* Definicoes Default */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,  strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
body {
	line-height: 1;
	background:#313F44;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
section, article, aside, header, footer, nav, dialog, figure {
	display:block;
}

h1 { font-size:26px; }
h2 { font-size:18px; font-family:Georgia; }
h3 { font-size:14px; }

a { text-decoration:none; color:#AAA; }
a:hover { text-decoration:underline; color:#33CCFF; }

p { line-height: 15px; }
/*a[href ^="http://"]
{
	background: url("images/external.png") center right no-repeat;
	padding: 0 13px 0 0;
}
*/

ul { list-style:none; }

/* Fim Definicoes Default */

#top
{
	height:155px;
	background:url("images/bg_top.png");
}

#top .wrapper
{
	display:block;
	width:960px;
}

#top h1
{
	width:184px;
	height:76px;
	margin-top:40px;
	text-indent:-1000000px;
	background:url("images/logo.png") no-repeat;
}

#top #links ul { position: absolute; margin:120px 0 0 615px; }

#top #links ul li a
{
	font-weight:bold;
	font-size:10px;
	color:white;
	height:12px;
}

#top #links ul li
{
	display:inline-block;
}

#top #links ul li a
{ 
	display:block;
	background:#6A6A6A;
	border:1px solid #6D6D6D;
	font-size:13px;
	border-bottom: none;
	border-radius:5px;
	padding:8px 15px;
}

#blog
{
	margin-bottom:30px;
	margin-top:20px;
}

#blog li
{
    padding:0 10px 8px 10px;
    border:2px solid #313F44;
	margin-bottom: 10px;
}

#blog li h2
{
    color:#33CCFF;
    display:block;
    padding:5px 0;
}

#blog li p, #twitter
{
    color:#EBEBEB;
}

#blog li a:hover
{
	text-decoration:none;
}

#blog li:hover
{
    background:#2e3a3f;
    border:2px solid #273135;
    text-decoration:none;
}

#contact, #twitter, #github
{
	margin-bottom:30px;
}

#contact
{
	margin-top:20px;
}

#contact h2
{
	font-size:30px;
	color:white;
}

#contact label
{
	color:white;
	display:block;
	margin-top:15px;
	font-size:15px;
}

#contact input:not([type=hidden]), #contact textarea
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width:336px;
	margin-top:5px;
	display:block;
	border:2px solid #263034;
	background:#2A3438;
	color:#6E7275;
	font-size:15px;
	padding:5px;
}

#contact input[type=button]
{
	padding:5px;
	width:auto;
	background:#177797;
	border:solid 2px #0F4556;
	color:white;
	float:right;
}

#twitter
{
	background:#222D31;
	margin-top:35px;
}
#twitter div.wrap
{
	padding:10px;
}

#twitter h2
{
	display:block;
	overflow:hidden;
	background:url('images/twitter.png');
	text-indent: -10000px;
	margin-top:-80px;
	width:100px;
	height:100px;
}

#twitter li
{
	margin:10px 0;
}

#twitter a
{
	color:#33CCFF;
}

#github
{
	background:#222D31;
	color:white;
	margin-top:50px;
}

#github div.wrap
{
	padding:10px;
}

#github h2
{
	display:block;
	overflow:hidden;
	background:url('images/github.png');
	text-indent: -10000px;
	margin-top:-80px;
	width:100px;
	height:100px;
	margin-bottom:10px;
}

#github a
{
	color:#33CCFF;
}

#github .details, #github .message
{
	padding:5px 15px;
}

#shared 
{
	clear:both;
	background:#1e2528;
	padding:10px 0;
}

#shared h2
{
	color:#f3f3f3;
	background:url(images/rss.png) 10px 10px no-repeat;
	display:block;
	line-height:60px;
	padding-left:60px;
}

#shared li a
{
    padding:5px 0;
    line-height:18px;
    margin-left:60px;
}

footer p
{
	color:white;
	display:block;
	float:right;
	line-height:45px;
}
